* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-style: normal;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.first-page-section {
  background-image: url(./src/resources/Header-llustration-desktop.svg);
  background-size: 100vw;
  background-repeat: repeat-y;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 72px;
  margin: auto auto 150px auto;
}

.desktop-nav {
  display: none;
}

.header-elem {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.welcome {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.menu-button {
  font-size: 2.3em;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.row1,
.row2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
}

.row1 {
  color: #172b4d;
}

.row2 {
  color: #36b37e;
}

.title {
  margin: auto 260px;
  text-align: center;
}

.parag {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #172b4d;
  margin: 25px 260px;
  text-align: center;
  width: 80vw;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 25px;
  list-style: none;
}

.sm-icon {
  padding: 0;
  margin: 0;
  flex: 0 1 auto;
}

.icon {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}

.arrow-down {
  margin-top: 30px;
}

.projects-section {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.indicator-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.projects {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border: 0.5px solid rgba(124, 124, 124, 0.356);
  border-radius: 8px;
}

.img {
  height: 50vw;
  width: 95vw;
  max-width: 700px;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
  text-align: center;
}

.project-langs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.project-lang {
  flex: 0 1 auto;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  order: 0;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #ebf0ee;
  white-space: nowrap;
}

.button:link {
  width: 122px;
  height: 48px;
  background: #36b37f;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

.button:visited {
  background-color: #008552;
  color: #fff;
}

.button:hover {
  background-color: #36b37f;
  color: #fff;
}

.button:active {
  background-color: #008552;
  color: #fff;
}

.about-me {
  background-image: url(/src/resources/illustration-about-me-mobile.png);
  background-repeat: repeat-y;
  /* background-size: 50vw; */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.b7:link {
  margin-top: 30px;
  width: 200px;
  height: 48px;
  background: #36b37f;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

.b7:visited {
  background-color: #008552;
  color: #fff;
}

.b7:hover {
  background-color: #36b37f;
  color: #fff;
}

.b7:active {
  background-color: #008552;
  color: #fff;
}

.experience-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.experience {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border: 0.5px solid rgba(124, 124, 124, 0.356);
  border-radius: 8px;
  width: 95vw;
  max-width: 700px;
  background-color: #ebf0ee;
}

.logo {
  padding-top: 0;
}

.logo-img {
  padding-top: 10px;
}

.experience-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  padding-bottom: 20px;
}

.experience-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.experience-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  padding: 10px 7px;
  border-radius: 8px;
  white-space: nowrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px auto 16px 16px;
}

.contact-form p {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

form input {
  width: 100%;
  padding: 10px 0 10px 8px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

form textarea {
  width: 100%;
  padding: 10px 0 50px 8px;
  vertical-align: text-top;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

form button:enabled {
  height: 40px;
  width: 120px;
  background-color: #3eb380;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 5px;
}

form button:visited {
  background-color: #008552;
}

form button:hover {
  background-color: #36b37f;
}

form button:active {
  background-color: #008552;
}

.contact-form a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 5px;
}

.bottom-bar {
  margin-top: 150px;
  height: 4px;
  width: 100px;
  background-color: #0d151e;
  border: #0d151e;
  border-radius: 25px;
}

@media only screen and (min-width: 992px) {
  body {
    width: 97vw;
    overflow-x: hidden;
  }

  .first-page-section {
    background-repeat: repeat;
    height: 1000px;
  }

  .welcome {
    display: none;
  }

  .menu-button {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    gap: 65px;
  }

  .desktop-nav li a:link {
    text-decoration: none;
    cursor: pointer;
    color: #344563;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .desktop-nav li a:visited {
    color: #344563;
  }

  .parag {
    width: 50vw;
  }

  .indicator-div {
    display: none;
  }

  .projects {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px 20px;
    margin-top: 50px;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border: 0.5px solid rgba(124, 124, 124, 0.356);
    border-radius: 8px;
  }

  .project-img {
    width: 100%;
  }

  .img {
    height: auto;
    width: 100%;
  }

  .project-langs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
    margin-bottom: 15px;
  }

  .project-lang {
    flex: 0 1 auto;
  }

  .experience-ul {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    max-width: 1095.91px;
  }

  .experience:first-child {
    margin-right: 0;
    display: flex;
    justify-content: flex-start;
  }

  .experience:first-child .logo {
    padding-top: 0;
    height: 153px;
  }

  .experience {
    width: fit-content;
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .experience-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .experience-list::after {
    content: "";
    height: 55px;
  }
}
