* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-style: normal;
}

body {
  background-image: url(/src/resources/Header-llustration-desktop.svg);
  background-size: 99vw;
  background-repeat: repeat-y;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 72px;
  margin: auto auto 180px auto;
}

.header-elem {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.welcome {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.menu-button {
  font-size: 2.3em;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.row1,
.row2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
}

.row1 {
  color: #172b4d;
}

.row2 {
  color: #36b37e;
}

.title,
.parag {
  margin: auto 260px;
  text-align: center;
}

.parag {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  margin-top: 25px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 25px;
  list-style: none;
}

.sm-icon {
  padding: 0;
  margin: 0;
  flex: 0 1 auto;
}

.icon {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}

.arrow-down {
  margin-top: 30px;
}
